@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  background-color: black;
}

.feed {
  display: flex;
  flex-wrap: wrap;
}

.post {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 300px;
  background-color: white;
  border: 1px solid lightgray;
}

.post-header {
  display: flex;
  align-items: center;
  padding: 10px;
}

.user-info {
  display: inline-block;
  width: 240px;
}

.between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: relative;
}

.more_details {
  position: absolute;
  right: 0;
}


.user-profile-picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-profile-picture img{
  width: 30px;
  height: 30px;
  border-radius: 50%;

}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-weight: 600;
  text-decoration: none;
  color: white;
}

.post-loactaion{
  font-weight: 600;
  text-decoration: none;
  color: white;
}

.post-media {
  height: 300px;
}

.post-media img{
  width: 298.75px;
  height: 300px;
  overflow: hidden;
  margin:0 auto;
}

.post-actions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  color: white;
}

.post-actions {
  display: flex;
  gap: 5px;
  color: white;
}

.save {
  margin-left: auto;
}


.post-caption {
  padding: 10px;
}

.caption-text {
  margin-left: 5px;
}

.post-time {
  padding: 10px;
  color: gray;
}

.feed_like_box {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  height: 30px;
  padding: 0 16px 0 8px;
}

.feed_like_box .feed_like {
  display: flex;
  position: relative;
  left: 5px;
  font-size: 14px;
}

.feed_like_picture {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: 15px;
  left: 10px;
}

.feed_like_peolpe {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.feed_like {
  color: white;
}

.comments_container {
  display: flex;
  height: 100px;
}

.comments2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  height: 30px;
  padding: 0 16px 0 8px;
  font-size: 13px;
  line-height: 18px;
  color: #8e8e8e;
  letter-spacing: 0.2px;
}

.my_profile_box2 img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.my_profile {
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #b0abab;
}
